{% extends 'layouts/base.html' %}

{% block title %}Product Index{% endblock %}

<!-- must load static first -->
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/product_index.css' %}" type="text/css">
{% endblock %}

{% block body_content %}
<span id="today-date"></span>

<div class="d-flex flex-row justify-content-between mb-3 mt-4">
    <a href="{% url 'product.create' %}" class="btn btn-primary btn-block btn-sm mb-3"><i class="fa-solid fa-plus"></i> Create Product</a>
    <a href="{% url 'product.index' %}" class="btn btn-warning btn-block btn-sm mb-3"><i class="fa-solid fa-broom"></i> Clear Search</a>
</div>

{% include "partials/messages.html" %}
<!-- for searching products -->
<form method="get" action="{% url 'product.index' %}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search products..." name="search" value="{{ request.GET.search }}">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </div>
    </div> 
</form>

<h1>Product List</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>S.NO</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.description }}</td>
            <td><a href="{% url 'product.view' product.id %}" class="btn btn-sm btn-info">
                <i class="fa-solid fa-eye"></i></a>
            </td>
            <td><a href="{% url 'product.edit' product.id %}" class="btn btn-sm btn-primary">
                <i class="fa-solid fa-pencil"></i></a>
            </td>
            <td><a href="{% url 'product.delete' product.id %}" class="btn btn-sm btn-danger">
                <i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- for pagination of products -->
{% if products.has_other_pages %}
    <nav>
        <ul class="pagination">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/product_index.js' %}"></script>
{% endblock %}