{% extends 'layouts/base.html' %}

{% block title %} Login Page {% endblock %}

{% block body_content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    
    <div class="card p-4 shadow" style="width: 400px;">
        
        <h3 class="text-center mb-3">Login</h3>

        <form method="post" action="{% url 'login.page' %}">
            {% csrf_token %}

            <!-- Render form nicely -->
            <div class="mb-3">
                {{ form_data.username.label_tag }}
                {{ form_data.username }}
            </div>

            <div class="mb-3">
                {{ form_data.password.label_tag }}
                {{ form_data.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Login
            </button>
        </form>
        <p class="text-center mt-3">
            Don't have an account? 
            <a href="{% url 'user.register' %}">Register here</a>
        </p>

    </div>

</div>
{% endblock %}