{% extends 'layouts/base.html' %}

{% block title %} Verify Account {% endblock %}

{% block body_content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    
    <div class="card p-4 shadow" style="width: 400px;">
        {% include "partials/messages.html" %}
        <h4 class="text-center mb-3">Account Verification</h4>
        <p class="text-center text-muted">
            Enter the verification code sent to your email
        </p>

        <!-- Errors -->
        {% if form_data.errors %}
            <div class="alert alert-danger">
                {{ form_data.errors }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                {{ form_data.verification_code.label_tag }}
                {{ form_data.verification_code }}
            </div>

            <button type="submit" class="btn btn-success w-100">
                Verify Account
            </button>
        </form>

        <p class="text-center mt-3">
            Didn't receive code? 
            <a href="#">Resend</a>
        </p>

    </div>

</div>
{% endblock %}