{% extends 'layouts/base.html' %}

{% block title %} Landing Page {% endblock %}

{% block body_content %}
<!-- categories -->
<div class="d-flex flex-row justify-content-between mt-3 mb-2">
    <span class="h4">Categories</span>
    <a href="#" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a>
</div>
<!-- list of categories -->
<div class="row d-flex flex-row">
    {% for category in categories %}
    <div class="col-3 border border-1 p-4 d-flex flex-column align-items-center justify-content-center">
        <h4>{{ category.category_name }}</h4>
    </div>
    {% endfor %}
</div>
<!-- end categories -->

<!-- products -->
<div class="d-flex flex-row justify-content-between mt-3 mb-2">
    <span class="h4">Latest Products</span>
    <a href="#" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a>
</div>
<!-- list of products -->
<div class="row d-flex flex-row justify-content-between gap-2 scrollable-container overflow-hidden overflow-x-auto" id="productList">
    {% for product in products %}
    <div class="col-3 border border-1 p-2 d-flex flex-column flex-wrap align-items-center justify-content-center">
        <h6>{{ product.title }}</h6>
        <p>{{ product.description }}</p>
        <p class="text-primary fw-bold">${{ product.price|floatformat:2 }}</p>
        <p>{{product.quantity}}</p>
        <div class="d-flex flex-row justify-content-between gap-2 align-items-center">
            <a href="#" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a>
            <a href="#" class="btn btn-sm btn-success"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
    </div>
    {% endfor %}
</div>
<!-- end products -->
{% endblock %}
{% block custom_js %}
<script>

</script>
{% endblock %}