h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 600;
}

table > thead > tr > th {
    font-weight: 700;
    color: var(--primary-color);
}

td {
    font-weight: 400;
    color: var(--secondary-color);
}

.btn-primary, .btn-warning {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover, .btn-warning:hover, .btn-info:hover, .btn-danger:hover {
    background-color: var(--primary-light-color);
    border-color: var(--primary-light-color);
    color: #fff;
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 8px 8px rgba(22, 22, 22, 0.2);
}

.btn-info {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.page-link {
    color: var(--primary-color);
}

.page-item.active .page-link{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}